- title "Edit profile"

%h3
  Edit your profile
  %small= link_to "Back", profile_path

= form_for current_user, url: profile_path, method: :put do |f|
  %table
    %tr
      %td= label_tag :name, "Username"
      %td= text_field_tag nil, current_user.name, disabled: true
    %tr
      %td= f.label :password, "New password"
      %td= f.password_field :password
    %tr
      %td= f.label :password_confirmation, "Repeat new password"
      %td= f.password_field :password_confirmation
    %tr
      %td{colspan:"2"}= f.submit "Edit", class: "btn btn-primary btn-block"
