- title "Editing user"

%h3
  Editing user
  %small= link_to "Back", user_path(@user)

= form_for @user, url: user_path(@user), method: :put do |f|
  %table
    %tr
      %td= label_tag :name, "Username"
      %td= text_field_tag nil, @user.name, disabled: true
    %tr
      %td= f.label :organization_id
      %td= f.select :organization_id, options_for_select(Organization.all.map{ |o| [o.name, o.id] })
    %tr
      %td= f.label :password, "New password"
      %td= f.password_field :password
    %tr
      %td= f.label :password_confirmation, "Repeat new password"
      %td= f.password_field :password_confirmation
    %tr
      %td{colspan:"2"}= f.submit "Edit", class: "btn btn-primary btn-block"
