%section#indicators
  %h2.page-header
    Indicators
    %a{href:"#top"} &uarr;
  %table.table.table-auto.table-condensed
    %thead
      %tr
        %th Property
        %th Description
    %tbody
      %tr
        %td id
        %td The unique identifier by which to identify an indicator
      %tr
        %td project.id
        %td The unique identifier of the project
      %tr
        %td project.name
        %td The name of the project
      %tr
        %td project.description
        %td The description of the project
      %tr
        %td service.id
        %td The unique identifier of the service
      %tr
        %td service.name
        %td The name of the service
      %tr
        %td service.description
        %td The description of the service
      %tr
        %td current_event.id
        %td The unique identifier of current event
      %tr
        %td current_event.time
        %td The time of current event (formatted according to RFC 3339)
      %tr
        %td current_event.status.id
        %td The unique identifier of current event's status
      %tr
        %td current_event.status.name
        %td The name of current event's status
      %tr
        %td current_event.message
        %td The message explaining current event
      %tr
        %td custom_url
        %td The URL to redirect to instead of loading indicator's own page (can be relative or absolute)
  %h4 Instance Resource
  %pre.prettyprint
    = preserve do
      :escaped
        {
          "id": {integer},
          "project": {
            "id": {integer},
            "name": {string},
            "description": {string}
          },
          "service": {
            "id": {integer},
            "name": {string},
            "description": {string}
          },
          "current_event": {
            "id": {integer},
            "time": {datetime},
            "status": {
              "id": {integer},
              "name": {string}
            },
            "message": {string}
          },
          "custom_url": {string}
        }
  %h4 List Resource
  %pre.prettyprint
    = preserve do
      :escaped
        [
          instance-resource-1,
          instance-resource-2,
          ...
          instance-resource-n
        ]

  %a{name:"indicators-list"}
  %h3 List
  %p Returns a list of indicators.
  %h4 Request
  = api_request_code "indicators", "get"
  %h4 Response
  %p List Resource of indicators.

  %a{name:"indicators-get"}
  %h3 Get
  %p Returns a specified indicator.
  %h4 Request
  = api_request_code "indicators/{id}", "get"
  %h4 Response
  %p Instance Resource of the indicator.

  %a{name:"indicators-update"}
  %h3 Update
  %p Updates and returns an indicator.
  %h4 Request
  = api_request_code "indicators/{id}", "put"
  %h5 Body
  %pre.prettyprint
    = preserve do
      :escaped
        {
          "indicator": {
            "custom_url": {string}
          }
        }
  %h4 Response
  %p Instance Resource of the indicator.
