%section#projects
  %h2.page-header
    Projects
    %a{href:"#top"} &uarr;
  %table.table.table-auto.table-condensed
    %thead
      %tr
        %th Property
        %th Description
    %tbody
      %tr
        %td id
        %td The unique identifier by which to identify the project
      %tr
        %td name
        %td The name of the project
      %tr
        %td description
        %td The description of the project
  %h4 Instance Resource
  %pre.prettyprint
    = preserve do
      :escaped
        {
          "id": {integer},
          "name": {string},
          "description": {string}
        }
  %h4 List Resource
  %pre.prettyprint
    = preserve do
      :escaped
        [
          instance-resource-1,
          instance-resource-2,
          ...
          instance-resource-n
        ]

  %a{name:"projects-list"}
  %h3 List
  %p Returns a list of projects.
  %h4 Request
  = api_request_code "projects", "get"
  %h4 Response
  %p List Resource of projects.

  %a{name:"projects-get"}
  %h3 Get
  %p Returns a specified project.
  %h4 Request
  = api_request_code "projects/{id}", "get"
  %h4 Response
  %p Instance Resource of the project.

  %a{name:"projects-create"}
  %h3
    Create
    %i.icon-warning-sign
  %p Creates and returns a project.
  %h4 Request
  = api_request_code "projects", "post"
  %h5 Body
  %pre.prettyprint
    = preserve do
      :escaped
        {
          "name": {string},
          "description": {string}
        }
  %h4 Response
  %p Instance Resource of the project.

  %a{name:"projects-update"}
  %h3
    Update
    %i.icon-warning-sign
  %p Updates and returns a project.
  %h4 Request
  = api_request_code "projects/{id}", "put"
  %h5 Body
  %pre.prettyprint
    = preserve do
      :escaped
        {
          "name": {string},
          "description": {string}
        }
  %h4 Response
  %p Instance Resource of the project.

  %a{name:"projects-delete"}
  %h3
    Delete
    %i.icon-warning-sign
  %p Deletes and returns a project.
  %h4 Request
  = api_request_code "projects/{id}", "delete"
  %h4 Response
  %p Instance Resource of the project.
