- title "Documentation"

.row
  .span9.docs
    %h1
      %a{name:"top"}
      REST API Documentation
    :erb
      <p>Every method accepts requests with body in JSON format. Relevant HTTP header is <code>Content-Type: application/json</code>.
      <p>Every method requires token authentication with HTTP header, e.g. <code>Authorization: Token token="&lt;api_key&gt;"</code>.

    - @resources.each do |resource|
      = render partial: resource[0]
  .span3
    .well.well-small
      %ul.nav.nav-list
        - @resources.each do |resource|
          %li.nav-header= resource[0].capitalize
          - resource[1].each do |action|
            %li= link_to action.capitalize, "##{resource[0]}-#{action}"

= javascript_include_tag "//google-code-prettify.googlecode.com/svn/loader/run_prettify.js"
