= form_for @organization do |f|
  %table
    %tr
      %td= f.label :name
      %td= f.text_field :name
    %tr
      %td= f.label :projects
      %td= collection_select :organization, :project_ids, Project.all, :id, :name, {}, multiple: true
    %tr
      %td{colspan: 2}= f.submit class: "btn btn-primary btn-block"
