<!DOCTYPE html>
<html>
<head>
  <title>Status</title>
  <!--[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<!--div style="position: absolute; top: 5px; right: 5px;">
  <%= link_to_if current_user, "Login", "", class: "btn btn-primary btn-small" do %>
    <%= link_to "Logout", "", class: "btn btn-inverse btn-small" %>
  <% end %>
</div-->

<%= yield %>

</body>
</html>
