<!DOCTYPE html>
<html>
<head>
  <title>Status<%= content_for?(:title) ? " | #{yield :title}" : "" %></title>
  <!--[if lt IE 9]
    <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
  <![endif]-->
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "//google-code-prettify.googlecode.com/svn/loader/run_prettify.js" %>
  <%= csrf_meta_tags %>
</head>

<body>
  <header class="navbar navbar-inverse navbar-static-top">
    <div class="navbar-inner">
      <div class="container">
        <%= link_to "Status", root_path, class: "brand" %>
        <nav class="nav-collapse collapse">
          <ul class="nav pull-right">
            <% unless current_user %>
            <li><%= link_to "Log in", login_path %></li>
            <% else %>
            <li><%= link_to "Profile", profile_path %></li>
            <li><%= link_to "Log out", logout_path %></li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </header>

  <div class="container" style="margin: 20px auto;">
    <%= yield %>
  </div>

  <footer class="footer">
    <div class="container">
      <span class="pull-left">
        Status app
      </span>
      <nav>
        <ul class="nav pull-right">
          <li><%= link_to "Docs", docs_path %></li>
        </ul>
      </nav>
    </div>
  </footer>
</body>
</html>
